.theme_black {
  background: #333 !important; }
  .theme_black .menu_box {
    background: #333 !important;
    color: #999 !important; }
    .theme_black .menu_box .user_box {
      background: url("../../assets/images/user_box_bg_12312ad.png") black 50% 50% no-repeat !important; }
    .theme_black .menu_box .nav_list li a,
    .theme_black .menu_box .nav_list li .iconfont {
      color: #999 !important; }
    .theme_black .menu_box .level {
      color: #000 !important; }
  .theme_black .header_box {
    background: #333 !important; }
    .theme_black .header_box .nav_fixed {
      background: #333 !important; }
  .theme_black .classify_nav {
    background: #444 !important; }
    .theme_black .classify_nav .tit {
      color: #bcbcbc !important; }
  .theme_black .bg_box {
    background: #333 !important; }
  .theme_black .modular_box .title_box {
    color: #666 !important; }
  .theme_black .modular_box .item .pic_box {
    background: #444 !important; }
  .theme_black .modular_box .item .info {
    background: #666 !important; }
    .theme_black .modular_box .item .info .title {
      color: #bcbcbc !important; }
  .theme_black .modular_box .title_box {
    color: #999 !important; }
    .theme_black .modular_box .title_box .iconfont {
      color: #fff !important; }
  .theme_black .modular_box .look_num .iconfont {
    color: #999 !important; }
  .theme_black .top_box .iconfont {
    color: #fff !important; }
  .theme_black .top_bg {
    background: #333 !important; }
  .theme_black .info_option .option {
    border-color: #666 !important;
    color: #999 !important; }
  .theme_black .mint-popup {
    background: #333 !important; }
    .theme_black .mint-popup input,
    .theme_black .mint-popup textarea,
    .theme_black .mint-popup .textarea_box {
      background: #333 !important;
      color: #999 !important;
      border-color: #fff !important; }
    .theme_black .mint-popup .action_btn {
      color: #999 !important; }
  .theme_black .search_box .close_btn {
    color: #999 !important; }
  .theme_black .re_data {
    color: #999 !important; }
  .theme_black .if_null {
    color: #999 !important; }
  .theme_black .from_box {
    overflow: hidden; }
    .theme_black .from_box .register_btn {
      border-color: #666 !important;
      color: #666 !important; }
    .theme_black .from_box .login_btn {
      background: #999 !important;
      opacity: .5; }
    .theme_black .from_box input {
      color: #999 !important; }
    .theme_black .from_box .input_box {
      color: #999 !important; }
      .theme_black .from_box .input_box .tit {
        color: #999 !important; }
    .theme_black .from_box .sub_btn {
      background: #666 !important;
      color: #bcbcbc !important; }
    .theme_black .from_box .protocol_text {
      color: #bcbcbc !important; }
  .theme_black .popupCountry .mint-radio-input:checked + .mint-radio-core {
    background: #666 !important; }
  .theme_black .popupCountry .mint-radiolist-title {
    border-color: #666 !important; }
  .theme_black .test_box .number {
    color: #999 !important; }
  .theme_black .test_box input {
    background: #666 !important; }
  .theme_black .test_box .resend {
    color: #666 !important; }
  .theme_black .test_box .next_btn {
    background: #666 !important;
    color: #bcbcbc !important; }
  .theme_black .mint-indicator .mint-spinner-snake {
    border-top-color: #fff !important;
    border-left-color: #fff !important;
    border-bottom-color: #fff !important; }
  .theme_black .player_box {
    border-color: #666 !important; }
  .theme_black .video_action_box {
    background-color: #333 !important;
    border-color: #666 !important; }
  .theme_black .video_info_box {
    border-color: #666 !important; }
    .theme_black .video_info_box .title {
      color: #fff !important; }
    .theme_black .video_info_box .crumbs_nav a {
      color: #bcbcbc !important; }
  .theme_black .related_video_box .title {
    color: #fff !important; }
  .theme_black .comment_box {
    border-color: #666 !important; }
    .theme_black .comment_box .title {
      color: #fff !important; }
  .theme_black .related_video_box {
    border-color: #666 !important; }
  .theme_black .comment_list .user_name_box {
    color: #bcbcbc !important; }
  .theme_black .comment_list .text {
    color: #999 !important; }
  .theme_black .video_title {
    color: #999 !important; }
  .theme_black .player_box .control_bar .control_slider .timeline .progress_line {
    background-color: #fff !important; }
  .theme_black .player_box .control_bar .control_slider .timeline .loading_line {
    background-color: #fff !important;
    opacity: .5; }

/*# sourceMappingURL=themeColor.css.map */
